import cdsapi
import xarray as xr
import numpy as np
import matplotlib.pyplot as plt
import cartopy.crs as ccrs
from matplotlib import animation
import tkinter as tk
from tkinter import ttk
from datetime import datetime
import os